<!-- enable/disable monitoring -->
  <div class="container" translate-namespace="monitoring">
    <h2>
      <span class="fa-stack">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-list fa-stack-1x fa-inverse"></i>
      </span>
      <span translate>.headline</span>
    </h2>
    <p>
      <span translate>.help</span>
    </p>
    <div class="wizard-margin-bottom">
      <div class="form-group">
        <label for="enableMonitoring" class="col-md-3 control-label" translate>
          .label
        </label>
        <div class="col-md-9">
          <div class="checkbox">
            <label class="text-muted">
              <input type="checkbox" data-ng-model="$ctrl.newMonitoring.enabled"
                name="enableMonitoring" id="enableMonitoring">
              <span translate>.show</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
