<ng-form name="internetForm">
  <div class="container" translate-namespace="internet">
    <h2>
      <span class="fa-stack">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-share-alt fa-stack-1x fa-inverse"></i>
      </span>
      <span translate>.headline</span>
    </h2>
    <p>
      <span translate>.help</span>
    </p>

    <!-- share internet row -->
    <div class="form-group" translate-namespace=".shareInternet">
      <label for="internetShare" class="col-md-3 control-label" translate>
        .label
      </label>
      <div class="col-md-9">
        <div class="checkbox">
          <label class="text-muted">
            <input type="checkbox"
                  name="internetShare" id="internetShare"
                  data-ng-model="$ctrl.newInternet.share">
            <span translate>.help</span>
          </label>
        </div>
      </div>
    </div>
    <!-- share internet row -->

    <div uib-collapse="!$ctrl.newInternet.share">
      <div class="row">
        <div class="col-md-offset-3 col-md-9">
          <p class="text-info">
            <span class="fa fa-fw fa-heart"></span>
            <span translate>.shareInternet.thanks</span>
          </p>
        </div>
      </div>

      <!-- internetTunnel -->
      <div class="form-group">
        <label for="vpn" class="col-md-3 control-label" translate>
          .internetTunnel.label
        </label>
        <div class="col-md-9">
          <div class="checkbox">
            <label class="text-muted">
              <input type="checkbox"
                    name="vpn" id="vpn"
                    data-ng-model="$ctrl.internetTunnelEnabled">
              <span translate>.internetTunnel.help</span>
            </label>
          </div>
        </div>
      </div>

      <div class="row" uib-collapse="!$ctrl.internetTunnelEnabled">
        <div class="col-md-offset-3 col-md-9">
          <wizard-tunnel
            ng-if="$ctrl.internetTunnelEnabled"
            tunnel="$ctrl.newInternet.internetTunnel"
            on-update="$ctrl.newInternet.internetTunnel = tunnel"
          ></wizard-tunnel>
        </div>
      </div>
      <!-- / internetTunnel -->
    </div>

    <!-- meshTunnel -->
    <div class="form-group">
      <label for="meshTunnel" class="col-md-3 control-label" translate>
        .meshTunnel.label
      </label>
      <div class="col-md-9">
        <div class="checkbox">
          <label class="text-muted">
            <input type="checkbox"
                  name="meshTunnel" id="meshTunnel"
                  data-ng-model="$ctrl.meshTunnelEnabled">
            <span translate>.meshTunnel.help</span>
          </label>
        </div>
      </div>
    </div>

    <div class="row" uib-collapse="!$ctrl.meshTunnelEnabled">
      <div class="col-md-offset-3 col-md-9">
        <wizard-tunnel
          ng-if="$ctrl.meshTunnelEnabled"
          tunnel="$ctrl.newInternet.meshTunnel"
          on-update="$ctrl.newInternet.meshTunnel = tunnel"
        ></wizard-tunnel>
      </div>
    </div>
    <!-- / meshTunnel -->

    <!-- speedLimit -->
    <div uib-collapse="!$ctrl.newInternet.share && !$ctrl.meshTunnelEnabled" translate-namespace=".speedLimit">
      <div class="form-group">
        <label for="speedLimitEnabled" class="col-md-3 control-label" translate>
          .enabled.label
        </label>
        <div class="col-md-9">
          <div class="checkbox">
            <label class="text-muted">
              <input type="checkbox"
                    name="speedLimitEnabled" id="speedLimitEnabled"
                    data-ng-model="$ctrl.speedLimitEnabled">
              <span translate>.enabled.help</span>
            </label>
          </div>
        </div>
      </div>

      <div class="row" uib-collapse="!$ctrl.speedLimitEnabled" >
        <div class="col-md-offset-3 col-md-9">
          <p translate>.help</p>
          <div class="row">
            <div class="col-md-6">
              <input type="number" class="form-control"
                    name="limitDown" id="limitDown"
                    translate
                    translate-attr-placeholder=".down.placeholder"
                    data-ng-model="$ctrl.newInternet.speedLimitDown">
              <div class="help-block" translate>.down.help</div>
            </div>
            <div class="col-md-6">
              <input type="number" class="form-control"
                    name="limitUp" id="limitUp"
                    translate
                    translate-attr-placeholder=".up.placeholder"
                    data-ng-model="$ctrl.newInternet.speedLimitUp">
              <div class="help-block" translate>.up.help</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- / speedLimit -->
  </div>
</ng-form>
