<!-- internet sharing -->
  <div class="container" translate-namespace="internetSharing">
    <h2>
      <span class="fa-stack">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-share-alt fa-stack-1x fa-inverse"></i>
      </span>
      <span translate>.headline</span>
    </h2>
    <p>
      <span translate>.help</span>
    </p>

    <!-- share internet row -->
    <div class="form-group" translate-namespace=".shareInternet">
      <label for="internetShare" class="col-md-3 control-label" translate>
        .label
      </label>
      <div class="col-md-9">
        <div class="checkbox">
          <label class="text-muted">
            <input type="checkbox"
              name="internetShare" id="internetShare"
              data-ng-model="$ctrl.newInternet.share">
            <span translate>.help</span>
          </label>
        </div>
      </div>
    </div>
    <!-- share internet row -->

    <div uib-collapse="!$ctrl.newInternet.share">
      <div class="row">
        <div class="col-md-offset-3 col-md-9">
          <p class="text-info">
            <span class="fa fa-fw fa-heart"></span>
            <span translate>.shareInternet.thanks</span>
          </p>
        </div>
      </div>

      <!-- transfer rate -->
      <div class="form-group">
        <label for="vpn" class="col-md-3 control-label" translate>
          .limitspeed.label
        </label>
        <div class="col-md-9">
          <div class="checkbox">
            <label class="text-muted">
              <input type="checkbox"
                name="limitspeed" id="limitspeed"
                data-ng-model="$ctrl.newInternet.speedLimit">
              <span translate>.limitspeed.help</span>
            </label>
          </div>
        </div>
      </div>

      <div uib-collapse="!$ctrl.newInternet.speedLimit">

        <div class="row">
          <div class="col-md-offset-3 col-md-9">

            <div class="form-group" translate-namespace=".transferSpeed">
              <div class="col-md-3">
                <label class="control-label" translate>
                  .label
                </label>
              </div>
              <div class="col-md-9">
                <div class="row">
                  <div class="col-md-12 help-block" translate>
                    .help
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <input type="number" class="form-control"
                      name="limitDown" id="limitDown"
                      translate
                      translate-attr-placeholder=".down.placeholder"
                      data-ng-model="$ctrl.newInternet.speedLimitDown">
                      <div class="help-block" translate>.down.help</div>
                  </div>
                  <div class="col-md-6">
                    <input type="number" class="form-control"
                      name="limitUp" id="limitUp"
                      translate
                      translate-attr-placeholder=".up.placeholder"
                      data-ng-model="$ctrl.newInternet.speedLimitUp">
                    <div class="help-block" translate>.up.help</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- / transfer rate -->

      <!-- anti-störerhaftungs-VPN -->
      <!-- TODO: migrate! -->
        <div class="form-group" ng-hide="false">
        <label for="vpn" class="col-md-3 control-label" translate>
            .internettunnel.label
        </label>
        <div class="col-md-9">
          <div class="checkbox">
            <label class="text-muted">
              <input type="checkbox"
                name="vpn" id="vpn"
                data-ng-model="wizard.internet.vpn.enabled">
                <span translate>.internettunnel.help</span>
            </label>
          </div>
        </div>
      </div>

      <div uib-collapse="!wizard.internet.vpn.enabled">

        <div class="row" translate-namespace=".generateCertificate">
          <div class="col-md-offset-3 col-md-9">
            <div class="col-md-6">
              <div class="form-group has-feedback"
                   ng-class="formFeedback('vpnConf')">
                <label for="vpnConf" class="col-md-5 control-label" translate>
                  .conf.label
                </label>
                <div class="col-md-7">
                  <div class="btn btn-info" role="button" id="vpnConf" name="vpnConf"
                       data-ng-model="vpnConf" data-ngf-select="uploadVpnFiles($files, 'conf')"
                       data-ngf-multiple="false" ngf-pattern="'text/*,.cnf,.ovpn'" ngf-accept="'text/*,.ovpn,.cnf'"
                       data-ng-required="!state.internet.vpn.vpn03generate
                       && wizard.internet.vpn.enabled
                       && wizard.internet.share" translate>
                    .conf.select
                  </div><br/>&nbsp;{{wizard.internet.vpn.conf.filename}}
                  <span class="fa form-control-feedback"
                        ng-class="formControlFeedback('vpnConf')"></span>
                  <div class="help-block">
                    <div ng-messages="hasError('vpnConf')">
                      <div ng-message="pattern">
                        <span translate>.conf.error.pattern</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group has-feedback"
                   ng-class="formFeedback('vpnCert')">
                <label for="vpnCert" class="col-md-5 control-label" translate>
                  .certificate.label
                </label>
                <div class="col-md-7">
                  <div class="btn btn-info" role="button" id="vpnCert" name="vpnCert"
                       data-ng-model="vpnCert" data-ngf-select="uploadVpnFiles($files, 'cert')"
                       data-ngf-multiple="false" ngf-pattern="'text/*,.crt'" ngf-accept="'text/*,.crt'"
                       data-ng-required="!state.internet.vpn.vpn03generate
                       && wizard.internet.vpn.enabled
                       && wizard.internet.share" translate>
                    .certificate.select
                  </div><br/>&nbsp;{{wizard.internet.vpn.cert.filename}}
                  <span class="fa form-control-feedback"
                        ng-class="formControlFeedback('vpnCert')"></span>
                  <div class="help-block">
                    <div ng-messages="hasError('vpnCert')">
                      <div ng-message="pattern">
                        <span translate>.cert.error.pattern</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group has-feedback"
                   ng-class="formFeedback('vpnKey')">
                <label for="vpnKey" class="col-md-5 control-label" translate>
                  .key.label
                </label>
                <div class="col-md-7">
                  <div class="btn btn-info" role="button" id="vpnKey" name="vpnKey"
                       data-ng-model="vpnKey" data-ngf-select="uploadVpnFiles($files, 'key')"
                       data-ngf-multiple="false" ngf-pattern="'text/*,.key'" ngf-accept="'text/*,.key'"
                       data-ng-required="!state.internet.vpn.vpn03generate
                       && wizard.internet.vpn.enabled
                       && wizard.internet.share" translate>
                    .key.select
                  </div><br/>&nbsp;{{wizard.internet.vpn.key.filename}}
                  <span class="fa form-control-feedback"
                        ng-class="formControlFeedback('vpnKey')"></span>
                  <div class="help-block">
                    <div ng-messages="hasError('vpnKey')">
                      <div ng-message="pattern">
                        <span translate>.key.error.pattern</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group has-feedback"
                   ng-class="formFeedback('taKey')">
                <label for="taKey" class="col-md-5 control-label" translate>
                  .takey.label
                </label>
                <div class="col-md-7">
                  <div class="btn btn-info" role="button" id="taKey" name="taKey"
                       data-ng-model="taKey" data-ngf-select="uploadVpnFiles($files, 'takey')"
                       data-ngf-multiple="false" ngf-pattern="'text/*,.key'" ngf-accept="'text/*,.key'"
                       translate>
                    .takey.select
                  </div><br/>&nbsp;{{wizard.internet.vpn.takey.filename}}
                  <span class="fa form-control-feedback"
                        ng-class="formControlFeedback('taKey')"></span>
                  <div class="help-block">
                    <div ng-messages="hasError('taKey')">
                      <div ng-message="pattern">
                        <span translate>.takey.error.pattern</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" translate-namespace=".vpninfo">
          <div class="col-md-offset-3 col-md-9">
            <div ng-click="toggleVpnList()">
              <span ng-show="!state.internet.showVpnList">&#9658;</span>
              <span ng-show="state.internet.showVpnList">&#9660;</span>
              <span translate>.showlist</span>
            </div>
            <div uib-collapse="!state.internet.showVpnList">
              <ul translate>
                .list
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- / anti-störerhaftungs-VPN -->

      <!-- mesh-VPN -->
      <div class="form-group" ng-hide="true">
        <label for="meshvpn" class="col-md-3 control-label" translate>
          .meshvpn.label
        </label>
        <div class="col-md-9">
          <div class="checkbox">
            <label class="text-muted">
              <input type="checkbox"
                     name="meshvpn" id="meshvpn"
                     data-ng-model="wizard.internet.meshvpn.enabled">
              <span translate>.meshvpn.help</span>
            </label>
          </div>
        </div>
      </div>

      <div uib-collapse="!wizard.internet.meshvpn.enabled">

        <div class="row" translate-namespace=".generateCertificate">
          <div class="col-md-offset-3 col-md-9">
            <div class="col-md-6">
              <div class="form-group has-feedback"
                   ng-class="formFeedback('meshvpnConf')">
                <label for="vpnConf" class="col-md-5 control-label" translate>
                  .conf.label
                </label>
                <div class="col-md-7">
                  <div class="btn btn-info" role="button" id="meshvpnConf" name="meshvpnConf"
                       data-ng-model="meshvpnConf" data-ngf-select="uploadVpnFiles($files, 'meshconf')"
                       data-ngf-multiple="false" ngf-pattern="'text/*,.cnf,.ovpn'" ngf-accept="'text/*,.ovpn,.cnf'"
                       data-ng-required="wizard.internet.meshvpn.enabled
                       && wizard.internet.share" translate>
                    .conf.select
                  </div><br/>&nbsp;{{wizard.internet.meshvpn.conf.filename}}
                  <span class="fa form-control-feedback"
                        ng-class="formControlFeedback('meshvpnConf')"></span>
                  <div class="help-block">
                    <div ng-messages="hasError('meshvpnConf')">
                      <div ng-message="pattern">
                        <span translate>.conf.error.pattern</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group has-feedback"
                   ng-class="formFeedback('meshvpnCert')">
                <label for="meshvpnCert" class="col-md-5 control-label" translate>
                  .certificate.label
                </label>
                <div class="col-md-7">
                  <div class="btn btn-info" role="button" id="meshvpnCert" name="meshvpnCert"
                       data-ng-model="meshvpnCert" data-ngf-select="uploadVpnFiles($files, 'meshcert')"
                       data-ngf-multiple="false" ngf-pattern="'text/*,.crt'" ngf-accept="'text/*,.crt'"
                       data-ng-required="wizard.internet.meshvpn.enabled
                       && wizard.internet.share" translate>
                    .certificate.select
                  </div><br/>&nbsp;{{wizard.internet.meshvpn.cert.filename}}
                  <span class="fa form-control-feedback"
                        ng-class="formControlFeedback('meshvpnCert')"></span>
                  <div class="help-block">
                    <div ng-messages="hasError('meshvpnCert')">
                      <div ng-message="pattern">
                        <span translate>.cert.error.pattern</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group has-feedback"
                   ng-class="formFeedback('meshvpnKey')">
                <label for="meshvpnKey" class="col-md-5 control-label" translate>
                  .key.label
                </label>
                <div class="col-md-7">
                  <div class="btn btn-info" role="button" id="meshvpnKey" name="meshvpnKey"
                       data-ng-model="meshvpnKey" data-ngf-select="uploadVpnFiles($files, 'meshkey')"
                       data-ngf-multiple="false" ngf-pattern="'text/*,.key'" ngf-accept="'text/*,.key'"
                       data-ng-required="wizard.internet.meshvpn.enabled
                       && wizard.internet.share" translate>
                    .key.select
                  </div><br/>&nbsp;{{wizard.internet.meshvpn.key.filename}}
                  <span class="fa form-control-feedback"
                        ng-class="formControlFeedback('meshvpnKey')"></span>
                  <div class="help-block">
                    <div ng-messages="hasError('meshvpnKey')">
                      <div ng-message="pattern">
                        <span translate>.key.error.pattern</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group has-feedback"
                   ng-class="formFeedback('meshtaKey')">
                <label for="meshtaKey" class="col-md-5 control-label" translate>
                  .takey.label
                </label>
                <div class="col-md-7">
                  <div class="btn btn-info" role="button" id="meshtaKey" name="meshtaKey"
                       data-ng-model="meshtaKey" data-ngf-select="uploadVpnFiles($files, 'meshtakey')"
                       data-ngf-multiple="false" ngf-pattern="'text/*,.key'" ngf-accept="'text/*,.key'"
                       translate>
                    .takey.select
                  </div><br/>&nbsp;{{wizard.internet.meshvpn.takey.filename}}
                  <span class="fa form-control-feedback"
                        ng-class="formControlFeedback('meshtaKey')"></span>
                  <div class="help-block">
                    <div ng-messages="hasError('meshtaKey')">
                      <div ng-message="pattern">
                        <span translate>.takey.error.pattern</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- / mesh-VPN -->


    </div>
  </div>
<!-- / internet sharing -->
