<!-- internet sharing -->
<ng-form name="internetForm">
  <div class="container" translate-namespace="internetSharing">
    <h2>
      <span class="fa-stack">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-share-alt fa-stack-1x fa-inverse"></i>
      </span>
      <span translate>.headline</span>
    </h2>
    <p>
      <span translate>.help</span>
    </p>

    <!-- share internet row -->
    <div class="form-group" translate-namespace=".shareInternet">
      <label for="internetShare" class="col-md-3 control-label" translate>
        .label
      </label>
      <div class="col-md-9">
        <div class="checkbox">
          <label class="text-muted">
            <input type="checkbox"
                   name="internetShare" id="internetShare"
                   data-ng-model="$ctrl.newInternet.share">
            <span translate>.help</span>
          </label>
        </div>
      </div>
    </div>
    <!-- share internet row -->

    <div uib-collapse="!$ctrl.newInternet.share">
      <div class="row">
        <div class="col-md-offset-3 col-md-9">
          <p class="text-info">
            <span class="fa fa-fw fa-heart"></span>
            <span translate>.shareInternet.thanks</span>
          </p>
        </div>
      </div>

      <!-- transfer rate -->
      <div class="form-group">
        <label for="vpn" class="col-md-3 control-label" translate>
          .limitspeed.label
        </label>
        <div class="col-md-9">
          <div class="checkbox">
            <label class="text-muted">
              <input type="checkbox"
                     name="limitspeed" id="limitspeed"
                     data-ng-model="$ctrl.newInternet.speedLimit">
              <span translate>.limitspeed.help</span>
            </label>
          </div>
        </div>
      </div>

      <div uib-collapse="!$ctrl.newInternet.speedLimit">

        <div class="row">
          <div class="col-md-offset-3 col-md-9">

            <div class="form-group" translate-namespace=".transferSpeed">
              <div class="col-md-3">
                <label class="control-label" translate>
                  .label
                </label>
              </div>
              <div class="col-md-9">
                <div class="row">
                  <div class="col-md-12 help-block" translate>
                    .help
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <input type="number" class="form-control"
                           name="limitDown" id="limitDown"
                           translate
                           translate-attr-placeholder=".down.placeholder"
                           data-ng-model="$ctrl.newInternet.speedLimitDown">
                    <div class="help-block" translate>.down.help</div>
                  </div>
                  <div class="col-md-6">
                    <input type="number" class="form-control"
                           name="limitUp" id="limitUp"
                           translate
                           translate-attr-placeholder=".up.placeholder"
                           data-ng-model="$ctrl.newInternet.speedLimitUp">
                    <div class="help-block" translate>.up.help</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- / transfer rate -->

      <!-- internettunnel -->
      <!-- TODO: migrate! -->
      <div class="form-group">
        <label for="vpn" class="col-md-3 control-label" translate>
          .internettunnel.label
        </label>
        <div class="col-md-9">
          <div class="checkbox">
            <label class="text-muted">
              <input type="checkbox"
                     name="vpn" id="vpn"
                     data-ng-model="$ctrl.internetTunnelEnabled">
              <span translate>.internettunnel.help</span>
            </label>
          </div>
        </div>
      </div>

      <div uib-collapse="!$ctrl.internetTunnelEnabled">
        <div class="row" translate-namespace=".tunnel">
          <div class="col-md-offset-3 col-md-9">
            <div class="row">
              <ng-show ng-if="$ctrl.internetTunnelEnabled" ng-init="$ctrl.setTunnelType('openvpn')"></ng-show>
              <div ng-repeat="config in $ctrl.tunnelConf">
                <div class="col-md-6">
                  <wizard-upload-configfile details="config"
                                            id-prefix="internettunnel"
                                            on-update="$ctrl.newInternet.internetTunnel.files[config.property] = fileContent"
                                            file-content="$ctrl.newInternet.internetTunnel.files[config.property]"
                  ></wizard-upload-configfile>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <span translate>.secrethelp</span>
              </div>
            </div>
            <div class="row">
              <div ng-repeat="config in $ctrl.tunnelConfSecret">
                <div class="col-md-6">
                  <wizard-upload-configfile details="config"
                                            id-prefix="internettunnel"
                                            on-update="$ctrl.newInternet.internetTunnel.files[config.property] = fileContent"
                                            file-content="$ctrl.newInternet.internetTunnel.files[config.property]"
                  ></wizard-upload-configfile>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-offset-9 col-md-3">
                <span class="btn-danger btn-sm" ng-click="$ctrl.clearFiles()">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                  <span translate>
                    .clearAllFiles
                  </span>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row" translate-namespace=".vpninfo">
          <div class="col-md-offset-3 col-md-9">
            <div ng-click="$ctrl.toggleVpnList()">
              <span ng-show="!$ctrl.showVpnList">&#9658;</span>
              <span ng-show="$ctrl.showVpnList">&#9660;</span>
              <span translate>.showlist</span>
            </div>
            <div uib-collapse="!$ctrl.showVpnList">
              <ul translate>
                .list
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- / internettunnel-VPN -->

      <!-- mesh-VPN -->
    <div class="form-group">
        <label for="meshvpn" class="col-md-3 control-label" translate>
          .meshvpn.label
        </label>
        <div class="col-md-9">
          <div class="checkbox">
            <label class="text-muted">
              <input type="checkbox"
                     name="meshvpn" id="meshvpn"
                     data-ng-model="$ctrl.meshTunnelEnabled">
              <span translate>.meshvpn.help</span>
            </label>
          </div>
        </div>
      </div>

    <div uib-collapse="!$ctrl.meshTunnelEnabled">
      <div class="row" translate-namespace=".tunnel">
          <div class="col-md-offset-3 col-md-9">
            <div class="row">
              <ng-show ng-if="$ctrl.meshTunnelEnabled" ng-init="$ctrl.setMeshTunnelType('openvpn')"></ng-show>
              <div ng-repeat="config in $ctrl.tunnelConf">
                <div class="col-md-6">
                  <wizard-upload-configfile details="config"
                                            id-prefix="meshtunnel"
                                            on-update="$ctrl.newInternet.meshTunnel.files[config.property] = fileContent"
                                            file-content="$ctrl.newInternet.meshTunnel.files[config.property]"
                  ></wizard-upload-configfile>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-offset-9 col-md-3">
                <button class="btn-danger btn-sm" ng-click="$ctrl.clearMeshTunnelFiles()">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                  <span translate>
                    .clearAllFiles
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- / mesh-VPN -->


    </div>
  </div>
</ng-form>
<!-- / internet sharing -->
