<!doctype html>

<html data-ng-app="WizardApp">
  <head>
    <title>Freifunk Berlin · Router configuration wizard</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- vendor assets -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.min.js"></script>
    <script src="vendor/ui-bootstrap-tpls-0.13.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
    <script src="vendor/angular-leaflet-directive.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.0/lodash.min.js"></script>

    <!-- wizard assets -->
    <link rel="stylesheet" href="index.css">
    <script src="index.js"></script>
  </head>
  <body>

    <!-- navbar -->
    <nav class="navbar navbar-default navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Freifunk Berlin</a>
        </div>
      </div>
    </nav>

    <!-- content -->
    <div class="jumbotron wizard-bg-highlight">
      <div class="container">
        <h1>
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
        </span><br>
        Router configuration wizard</h1>
      </div>
    </div>

    <form class="form-horizontal wizard-categories" data-ng-controller="WizardCtrl">

      <div class="wizard-category">
        <div class="container">
          <div class="row">

            <!-- basic router setup -->
            <div class="col-md-5">
              <h2>
                <span class="fa-stack">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-wifi fa-stack-1x fa-inverse"></i>
                </span>
                Basic router setup
              </h2>

              <div class="form-group">
                <label for="password" class="col-md-6 control-label">Router password</label>
                <div class="col-md-6">
                  <input type="password" class="form-control" id="password" placeholder="Password" data-ng-model="wizard.router.password">
                </div>
              </div>

              <div class="form-group">
                <label for="passwordVerify" class="col-md-6 control-label">Router password verification</label>
                <div class="col-md-6">
                  <input type="password" class="form-control" id="passwordVerify" placeholder="Repeat password" data-ng-model="wizard.router.passwordVerify">
                </div>
              </div>

              <div class="form-group">
                <label for="routerName" class="col-md-6 control-label">Router name</label>
                <div class="col-md-6">
                  <input type="text" class="form-control" id="routerName" placeholder="Name of the router" data-ng-model="wizard.router.name">
                </div>
              </div>
            </div>
            <!-- / basic router details -->

            <!-- contact details -->
            <div class="col-md-offset-1 col-md-5">
              <h2>
                <span class="fa-stack">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                </span>
                Contact details
              </h2>

              <div class="form-group">
                <label for="contactName" class="col-md-6 control-label">Your name</label>
                <div class="col-md-6">
                  <input type="text" class="form-control" id="contactName" placeholder="Your name" data-ng-model="wizard.contact.name">
                </div>
              </div>

              <div class="form-group">
                <label for="email" class="col-md-6 control-label">Email</label>
                <div class="col-md-6">
                  <input type="email" class="form-control" id="email" placeholder="Email" data-ng-model="wizard.contact.email">
                </div>
              </div>
            </div>
            <!-- / contact details -->

          </div>
        </div>
      </div>

      <div class="wizard-category">
        <div class="container">
          <h2>
            <span class="fa-stack">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-dot-circle-o fa-stack-1x fa-inverse"></i>
            </span>
            Router location
          </h2>
          <div class="row">

            <!-- map -->
            <div class="col-md-5">
              <leaflet style="height: 300px;" markers="state.map.markers" center="state.map.center"></leaflet>
            </div>
            <!-- / map -->

            <!-- address -->
            <div class="col-md-offset-1 col-md-5">

              <div class="row">
                <div class="col-md-offset-6 col-md-6">
                  <p>
                    <button type="button" class="btn btn-primary" data-ng-click="getLocation()" data-ng-disabled="state.map.searchingGeolocation">
                      <i class="fa fa-fw fa-dot-circle-o"></i>
                      Get my location
                    </button>
                  </p>
                </div>
              </div>

              <div class="form-group">
                <label for="routerGeolocation" class="col-md-6 control-label">Geolocation</label>
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-6">
                      <input type="number" class="form-control" id="routerLat" placeholder="Latitude" data-ng-model="wizard.location.marker.lat">
                    </div>
                    <div class="col-md-6">
                      <input type="number" class="form-control" id="routerLon" placeholder="Longitude" data-ng-model="wizard.location.marker.lng">
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="street" class="col-md-6 control-label">Street and house no.</label>
                <div class="col-md-6">
                  <input type="text" class="form-control" id="street" data-ng-model="wizard.location.street">
                </div>
              </div>

              <div class="form-group">
                <label for="postalCode" class="col-md-6 control-label">Postal code</label>
                <div class="col-md-6">
                  <input type="text" class="form-control" id="postalCode" data-ng-model="wizard.location.postalCode">
                </div>
              </div>

              <div class="form-group">
                <label for="city" class="col-md-6 control-label">City</label>
                <div class="col-md-6">
                  <input type="text" class="form-control" id="city" data-ng-model="wizard.location.city">
                </div>
              </div>

            </div>
            <!-- / address -->
          </div>

        </div>
      </div>

      <!-- internet sharing -->
      <div class="wizard-category">
        <div class="container">
          <h2>
            <span class="fa-stack">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-plug fa-stack-1x fa-inverse"></i>
            </span>
            Internet sharing
          </h2>

          <div class="row">
            <div class="col-md-5">

              <div class="form-group">
                <label for="internetShare" class="col-md-6 control-label">Share internet</label>
                <div class="col-md-6">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" id="internetShare" data-ng-model="wizard.internet.share">
                    </label>
                  </div>
                </div>
              </div>


            </div>

            <div class="col-md-offset-1 col-md-5">
              <div data-collapse="!wizard.internet.share">

                <!-- transfer rate -->
                <div class="form-group">
                  <label for="internetDown" class="col-md-6 control-label">Transfer speed limit in Mbps</label>
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-6">
                        <input type="number" class="form-control" id="internetDown" placeholder="Down" data-ng-model="wizard.internet.limitDown">
                      </div>
                      <div class="col-md-6">
                        <input type="number" class="form-control" id="internetUp" placeholder="Up" data-ng-model="wizard.internet.limitUp">
                      </div>
                    </div>
                  </div>
                </div>
                <!-- / transfer rate -->

              </div>
            </div>
          </div>

          <div data-collapse="!wizard.internet.share">

            <!-- anti-störerhaftungs-VPN -->
            <div class="row">
              <div class="col-md-5">

                <div class="form-group">
                  <label for="vpn03" class="col-md-6 control-label">Anti-Störerhaftung (VPN03)</label>
                  <div class="col-md-6">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" id="vpn03" data-ng-model="wizard.internet.vpn03.enabled">
                      </label>
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-md-offset-1 col-md-5">

                <div data-collapse="!wizard.internet.vpn03.enabled">
                  <div class="form-group">
                    <label for="vpn03Cert" class="col-md-6 control-label">VPN certificate</label>
                    <div class="col-md-6">
                      <span class="btn btn-primary btn-file">
                        Browse <input type="file" data-ng-model="wizard.internet.vpn03.cert">
                      </span>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="vpn03Key" class="col-md-6 control-label">VPN key</label>
                    <div class="col-md-6">
                      <span class="btn btn-primary btn-file">
                        Browse <input type="file" data-ng-model="wizard.internet.vpn03.key">
                      </span>
                    </div>
                  </div>
                </div>

              </div>

            </div>
            <!-- / anti-störerhaftungs-VPN -->

          </div>

        </div>
      </div>
      <!-- / internet sharing -->

      <!-- ip addresses -->
      <div class="wizard-category">
        <div class="container">
          <h2>
            <span class="fa-stack">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
            </span>
            IP addresses
          </h2>

          <div class="row">

            <div class="col-md-5">

              <div ng-repeat="ipv4 in wizard.ip.v4" class="form-group">
                <label for="ipv4Wifi_{{$index}}" class="col-md-6 control-label">{{ipv4.type}} Mesh-IPv4</label>
                <div class="col-md-6">
                  <input type="text" class="form-control" id="ipv4Wifi_{{$index}}" data-ng-model="ipv4.ip">
                </div>
              </div>

              <div class="form-group">
                <label for="ipDistribute" class="col-md-6 control-label">Distribute client IP addresses</label>
                <div class="col-md-6">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" id="ipDistribute" data-ng-model="wizard.ip.distribute">
                    </label>
                  </div>
                </div>
              </div>

              <div data-collapse="!wizard.ip.distribute">
                <div class="form-group">
                  <label for="ipv4ClientSubnet" class="col-md-6 control-label">Client IPv4 subnet</label>
                  <div class="col-md-6">
                    <input type="text" class="form-control" id="ipv4ClientSubnet" placeholder="" data-ng-model="wizard.ip.v4ClientSubnet">
                  </div>
                </div>
              </div>

            </div>

            <div class="col-md-offset-1 col-md-5">
              <div class="form-group">
                <label for="ipv6Prefix" class="col-md-6 control-label">IPv6 prefix</label>
                <div class="col-md-6">
                  <input type="text" class="form-control" id="ipv6Prefix" data-ng-model="wizard.ip.v6Prefix">
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
      <!-- / ip addresses -->

      <!-- advanced wifi -->
      <div class="wizard-category">
        <div class="container">
          <h2>
            <span class="fa-stack">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-wifi fa-stack-1x fa-inverse"></i>
            </span>
            Advanced wifi options
          </h2>

          <div class="wizard-margin-bottom">
            <div class="checkbox">
              <label>
                <input type="checkbox" id="wifiAdvanced" data-ng-model="state.wifiAdvanced">
                Show advanced wifi options
              </label>
            </div>
          </div>

          <!-- collapsable wifi advanced -->
          <div collapse="!state.wifiAdvanced">
            <div ng-repeat="(device, config) in wizard.wifi" class="panel panel-default">
              <div class="panel-heading clearfix">
                <div class="btn-group pull-right">
                  <button type="button" class="btn btn-primary btn-xs" ng-click="applyDefaults(device, config)">
                    Reset to defaults
                  </button>
                </div>
                <h3 class="panel-title">
                  Wifi device {{device}}
                  <span ng-if="config.capabilities['2.4GHz']" class="label label-success">2.4GHz</span>
                  <span ng-if="config.capabilities['5GHz']" class="label label-success">5GHz</span>
                </h3>
              </div>

              <div class="panel-body">

                <div class="row">
                  <div class="col-md-6">

                    <!-- wifi mode -->
                    <div class="form-group">
                      <label for="wifi{{$index}}Mode" class="col-md-4 control-label">Mode</label>
                      <div class="col-md-6">
                        <div class="radio">
                          <label>
                            <input type="radio" name="wifi{{$index}}Mode" value="mesh" data-ng-model="config.mode"> mesh (802.11s)
                          </label>
                        </div>
                        <div class="radio">
                          <label>
                            <input type="radio" name="wifi{{$index}}Mode" value="adhoc" data-ng-model="config.mode"> adhoc
                          </label>
                        </div>
                        <div class="radio">
                          <label>
                            <input type="radio" name="wifi{{$index}}Mode" value="sta" data-ng-model="config.mode"> client (STA)
                          </label>
                        </div>
                      </div>
                    </div>
                    <!-- / wifi mode -->

                    <!-- wifi channel -->
                    <div class="form-group">
                      <label for="wifi{{$index}}Channel" class="col-md-4 control-label">Channel</label>
                      <div class="col-md-6">
                        <input type="number" class="form-control" id="wifi{{$index}}Channel" data-ng-model="config.channel">
                      </div>
                    </div>
                    <!-- / wifi channel -->

                  </div>
                  <div class="col-md-6">

                    <!-- wifi name -->
                    <div class="form-group">
                      <label for="wifi{{$index}}Ssid" class="col-md-4 control-label">Name (SSID)</label>
                      <div class="col-md-6">
                        <input type="text" class="form-control" id="wifi{{$index}}Ssid" data-ng-model="config.ssid">
                      </div>
                    </div>
                    <!-- / wifi name -->

                    <!-- wifi meshId -->
                    <div class="form-group" ng-if="config.mode==='mesh'">
                      <label for="wifi{{$index}}MeshId" class="col-md-4 control-label">Mesh ID</label>
                      <div class="col-md-6">
                        <input type="text" class="form-control" id="wifi{{$index}}MeshId" data-ng-model="config.meshId">
                      </div>
                    </div>
                    <!-- / wifi meshId -->

                    <!-- wifi bssid -->
                    <div class="form-group" ng-if="config.mode==='adhoc'">
                      <label for="wifi{{$index}}Bssid" class="col-md-4 control-label">BSSID</label>
                      <div class="col-md-6">
                        <input type="text" class="form-control" id="wifi{{$index}}Bssid" data-ng-model="config.bssid">
                      </div>
                    </div>
                    <!-- / wifi bssid -->

                    <!-- wifi batman vlan -->
                    <div class="form-group">
                      <label for="wifi{{$index}}BatVlan" class="col-md-4 control-label">BATMAN-adv VLAN ID</label>
                      <div class="col-md-6">
                        <input type="number" class="form-control" id="wifi{{$index}}BatVlan" data-ng-model="config.batVlan">
                      </div>
                    </div>
                    <!-- / wifi batman vlan -->

                  </div>
                </div>

                <hr>

                <div class="form-group">
                  <label class="col-md-2 control-label">Pick from wifi scan</label>
                  <div class="col-md-9">
                    <table ng-if="state.wifiScans[device].length" class="table table-striped">
                      <thead>
                        <th>Mode</th>
                        <th>Channel</th>
                        <th>Name (SSID)</th>
                        <th>BSSID/Mesh ID</th>
                        <th>Signal</th>
                      </thead>
                      <tbody>
                        <tr ng-repeat="scan in state.wifiScans[device] | orderBy:'-signal'">
                          <td>{{scan.mode}}</td>
                          <td>{{scan.channel}}</td>
                          <td>{{scan.ssid}}</td>
                          <td>{{scan.mode === 'mesh' ? scan.meshId : scan.bssid}}</td>
                          <td>{{scan.signal}}</td>
                        </tr>
                      </tbody>
                    </table>
                    <p ng-if="!state.wifiScans[device].length" class="form-control-static">
                      No scan results!
                      <button type="button" class="btn btn-primary btn-xs">
                        Rescan
                      </button>
                    </p>
                  </div>
                </div>

              </div>
              <!-- / panel -->

            </div>
          </div>
          <!-- / collapsable wifi advanced -->

        </div>
      </div>
      <!-- / advanced wifi -->

      <!-- submission -->
      <div class="wizard-category">
        <div class="container text-right">
          <button type="button" class="btn btn-primary" data-ng-click="submit()" data-ng-disabled="">
            Save &amp; reboot
          </button>
        </div>
      </div>

    </form>

  </body>
</html>
