<!doctype html>

<html data-ng-app="WizardApp">
  <head>
    <title>Freifunk Berlin · Router configuration wizard</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- vendor assets -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.min.js"></script>
    <script src="vendor/ui-bootstrap-tpls-0.13.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
    <script src="vendor/angular-leaflet-directive.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.0/lodash.min.js"></script>

    <!-- wizard assets -->
    <link rel="stylesheet" href="index.css">
    <script src="index.js"></script>
  </head>
  <body>

    <!-- navbar -->
    <nav class="navbar navbar-default navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Freifunk Berlin</a>
        </div>
      </div>
    </nav>

    <!-- content -->
    <div class="jumbotron wizard-bg-highlight">
      <div class="container">
        <h1>
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
        </span><br>
        Router configuration wizard</h1>
      </div>
    </div>

    <form class="form-horizontal wizard-categories" data-ng-controller="WizardCtrl">

      <div class="wizard-category">
        <div class="container">
          <div class="row">

            <!-- basic router setup -->
            <div class="col-md-5">
              <h2>
                <span class="fa-stack">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-wifi fa-stack-1x fa-inverse"></i>
                </span>
                Basic router setup
              </h2>

              <div class="form-group">
                <label for="password1" class="col-md-6 control-label">Router password</label>
                <div class="col-md-6">
                  <input type="password" class="form-control" id="password1" placeholder="Password">
                </div>
              </div>

              <div class="form-group">
                <label for="password2" class="col-md-6 control-label">Router password verification</label>
                <div class="col-md-6">
                  <input type="password" class="form-control" id="password2" placeholder="Repeat password">
                </div>
              </div>

              <div class="form-group">
                <label for="routerName" class="col-md-6 control-label">Router name</label>
                <div class="col-md-6">
                  <input type="text" class="form-control" id="routerName" placeholder="Name of the router" data-ng-model="wizard.routerName">
                </div>
              </div>
            </div>
            <!-- / basic router details -->

            <!-- contact details -->
            <div class="col-md-offset-1 col-md-5">
              <h2>
                <span class="fa-stack">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                </span>
                Contact details
              </h2>

              <div class="form-group">
                <label for="userName" class="col-md-6 control-label">Your name</label>
                <div class="col-md-6">
                  <input type="text" class="form-control" id="yourName" placeholder="Your name">
                </div>
              </div>

              <div class="form-group">
                <label for="email" class="col-md-6 control-label">Email</label>
                <div class="col-md-6">
                  <input type="email" class="form-control" id="email" placeholder="Email">
                </div>
              </div>
            </div>
            <!-- / contact details -->

          </div>
        </div>
      </div>

      <div class="wizard-category">
        <div class="container">
          <h2>
            <span class="fa-stack">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-dot-circle-o fa-stack-1x fa-inverse"></i>
            </span>
            Router location
          </h2>
          <div class="row">

            <!-- map -->
            <div class="col-md-5">
              <leaflet style="height: 300px;" markers="map.markers" center="map.center"></leaflet>
            </div>
            <!-- / map -->

            <!-- address -->
            <div class="col-md-offset-1 col-md-5">

              <div class="row">
                <div class="col-md-offset-6 col-md-6">
                  <p>
                    <button type="button" class="btn btn-primary" data-ng-click="getLocation()" data-ng-disabled="map.searchingGeolocation">
                      <i class="fa fa-fw fa-dot-circle-o"></i>
                      Get my location
                    </button>
                  </p>
                </div>
              </div>

              <div class="form-group">
                <label for="routerGeolocation" class="col-md-6 control-label">Geolocation</label>
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-6">
                      <input type="number" class="form-control" id="routerLat" placeholder="Latitude" data-ng-model="map.markers.router.lat">
                    </div>
                    <div class="col-md-6">
                      <input type="number" class="form-control" id="routerLon" placeholder="Longitude" data-ng-model="map.markers.router.lng">
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="routerStreet" class="col-md-6 control-label">Street</label>
                <div class="col-md-6">
                  <input type="text" class="form-control" id="routerStreet" placeholder="Kreuzbergstr. 42" data-ng-model="wizard.routerStreet">
                </div>
              </div>

              <div class="form-group">
                <label for="routerPostalCode" class="col-md-6 control-label">Postal code</label>
                <div class="col-md-6">
                  <input type="text" class="form-control" id="routerPostalCode" placeholder="10965" data-ng-model="wizard.routerPostalCode">
                </div>
              </div>

              <div class="form-group">
                <label for="routerCity" class="col-md-6 control-label">City</label>
                <div class="col-md-6">
                  <input type="text" class="form-control" id="routerCity" placeholder="Berlin" data-ng-model="wizard.routerCity">
                </div>
              </div>

            </div>
            <!-- / address -->
          </div>

        </div>
      </div>

      <!-- internet sharing -->
      <div class="wizard-category">
        <div class="container">
          <h2>
            <span class="fa-stack">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-plug fa-stack-1x fa-inverse"></i>
            </span>
            Internet sharing
          </h2>

          <div class="row">
            <div class="col-md-5">

              <div class="form-group">
                <label for="internetShare" class="col-md-6 control-label">Share internet</label>
                <div class="col-md-6">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" id="internetShare" data-ng-model="wizard.internetShare">
                    </label>
                  </div>
                </div>
              </div>


            </div>

            <div class="col-md-offset-1 col-md-5">
              <div data-collapse="!wizard.internetShare">

                <!-- transfer rate -->
                <div class="form-group">
                  <label for="internetDown" class="col-md-6 control-label">Transfer speed limit in Mbps</label>
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-6">
                        <input type="number" class="form-control" id="internetDown" placeholder="Down" data-ng-model="wizard.internetDown">
                      </div>
                      <div class="col-md-6">
                        <input type="number" class="form-control" id="internetUp" placeholder="Up" data-ng-model="wizard.internetUp">
                      </div>
                    </div>
                  </div>
                </div>
                <!-- / transfer rate -->

              </div>
            </div>
          </div>

          <div data-collapse="!wizard.internetShare">

            <!-- anti-störerhaftungs-VPN -->
            <div class="row">
              <div class="col-md-5">

                <div class="form-group">
                  <label for="internetVpn03" class="col-md-6 control-label">Anti-Störerhaftung (VPN03)</label>
                  <div class="col-md-6">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" id="internetVpn03" data-ng-model="wizard.internetVpn03">
                      </label>
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-md-offset-1 col-md-5">

                <div data-collapse="!wizard.internetVpn03">
                  <div class="form-group">
                    <label for="internetVpn03Cert" class="col-md-6 control-label">VPN certificate</label>
                    <div class="col-md-6">
                      <span class="btn btn-primary btn-file">
                        Browse <input type="file" data-ng-model="wizard.internetVpn03Cert">
                      </span>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="internetVpn03Key" class="col-md-6 control-label">VPN key</label>
                    <div class="col-md-6">
                      <span class="btn btn-primary btn-file">
                        Browse <input type="file" data-ng-model="wizard.internetVpn03Key">
                      </span>
                    </div>
                  </div>
                </div>

              </div>

            </div>
            <!-- / anti-störerhaftungs-VPN -->

          </div>

        </div>
      </div>
      <!-- / internet sharing -->

      <!-- ip addresses -->
      <div class="wizard-category">
        <div class="container">
          <h2>
            <span class="fa-stack">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
            </span>
            IP addresses
          </h2>

          <div class="row">

            <div class="col-md-5">

              <div class="form-group">
                <label for="ipv4Mesh1" class="col-md-6 control-label">Mesh-IPv4 wifi 2.4GHz</label>
                <div class="col-md-6">
                  <input type="text" class="form-control" id="ipv4Mesh1" placeholder="" data-ng-model="wizard.ipv4Mesh1">
                </div>
              </div>

              <div class="form-group">
                <label for="ipv4Mesh2" class="col-md-6 control-label">Mesh-IPv4 wifi 5GHz</label>
                <div class="col-md-6">
                  <input type="text" class="form-control" id="ipv4Mesh2" placeholder="" data-ng-model="wizard.ipv4Mesh2">
                </div>
              </div>

              <div class="form-group">
                <label for="ipv4MeshLan" class="col-md-6 control-label">Mesh-IPv4 LAN</label>
                <div class="col-md-6">
                  <input type="text" class="form-control" id="ipv4MeshLan" placeholder="" data-ng-model="wizard.ipv4MeshLan">
                </div>
              </div>

              <div class="form-group">
                <label for="ipDistribute" class="col-md-6 control-label">Distribute client IP addresses</label>
                <div class="col-md-6">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" id="ipDistribute" data-ng-model="wizard.ipDistribute">
                    </label>
                  </div>
                </div>
              </div>

              <div data-collapse="!wizard.ipDistribute">
                <div class="form-group">
                  <label for="ipv4ClientSubnet" class="col-md-6 control-label">IPv4 client subnet</label>
                  <div class="col-md-6">
                    <input type="text" class="form-control" id="ipv4ClientSubnet" placeholder="" data-ng-model="wizard.ipv4ClientSubnet">
                  </div>
                </div>
              </div>

            </div>

            <div class="col-md-offset-1 col-md-5">
              <div class="form-group">
                <label for="ipv6" class="col-md-6 control-label">IPv6 prefix</label>
                <div class="col-md-6">
                  <input type="text" class="form-control" id="ipv6" placeholder="" data-ng-model="wizard.ipv6">
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
      <!-- / ip addresses -->

      <!-- advanced wifi -->
      <div class="wizard-category">
        <div class="container">
          <h2>
            <span class="fa-stack">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-wifi fa-stack-1x fa-inverse"></i>
            </span>
            Wifi options
          </h2>

          <div class="row">
            <div class="col-md-5">

              <div class="form-group">
                <label for="wifiAdvanced" class="col-md-6 control-label">Show advanced options</label>
                <div class="col-md-6">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" id="wifiAdvanced" data-ng-model="wizard.wifiAdvanced">
                    </label>
                  </div>
                </div>
              </div>

              <div collapse="!wizard.wifiAdvanced">
                TODO: wifi scan and selection
              </div>

            </div>
          </div>

        </div>
      </div>

      <!-- submission -->
      <div class="wizard-category">
        <div class="container text-right">
          <button type="button" class="btn btn-primary" data-ng-click="submit()" data-ng-disabled="">
            Save &amp; reboot
          </button>
        </div>
      </div>

    </form>

  </body>
</html>
