.navbar {
  margin-bottom: 0;
}

.jumbotron {
  margin-bottom: 0;
}

.wizard-category {
  margin-bottom: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.wizard-categories > .wizard-category:nth-child(even), .wizard-bg-highlight {
  background-color: #df3a6c;
  color: white;
}

.wizard-categories > .wizard-category:nth-child(even) .fa-inverse, .wizard-bg-highlight .fa-inverse {
  color: #df3a6c;;
}

.leaflet-container {
  height: 300px;
  color: black;
}

.wizard-btn-multi {
  margin: 0 0 10px;
}
