<!-- ip addresses -->
  <div class="container" translate-namespace="ip">
    <h2>
            <span class="fa-stack">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
            </span>
      <span translate>.headline</span>
    </h2>

    <p>
      <i class="fa fa-fw fa-info-circle"></i>
      <span translate>.help</span>
    </p>

    <div class="form-group">
      <label for="ipRegister" class="col-md-3 control-label" translate>
        .register.label
      </label>
      <div class="col-md-9">
        <div class="checkbox">
          <label>
            <input type="checkbox"
                   name="ipRegister" id="ipRegister"
                   data-ng-model="state.ip.register">
            <span class="text-muted" translate>.register.help</span>
          </label>
        </div>
      </div>
    </div>

    <div class="row" uib-collapse="state.ip.register">
      <div class="col-md-offset-3 col-md-9">
        <div class="form-group has-feedback" ng-class="formFeedback('ipv6Prefix')">
          <label for="ipv6Prefix" class="col-md-3 control-label" translate>
            .v6Prefix.label
          </label>
          <div class="col-md-9">
            <input type="text" class="form-control"
                   name="ipv6Prefix" id="ipv6Prefix"
                   placeholder="{{'ip.v6Prefix.placeholder' | translate}}"
                   data-ng-model="wizard.ip.v6Prefix"
                   data-ng-model-options="{ debounce: 500 }"
                   data-ng-required="!state.ip.register"
                   data-ip-address data-ip-version="6"
                   data-ip-prefix-max-length="62">
            <span class="fa form-control-feedback"
                  ng-class="formControlFeedback('ipv6Prefix')"></span>
            <div class="help-block">
              <div ng-messages="hasError('ipv6Prefix')">
                <div ng-message="required">
                  <span translate>.error.required</span>
                </div>
                <div ng-message="ipAddress">
                  <span translate>.v6Prefix.error.ipAddress</span>
                </div>
                <div ng-message="ipPrefixMaxLength">
                  <span translate>.v6Prefix.error.ipPrefixMaxLength</span>
                </div>
              </div>
              <div translate>.v6Prefix.help</div>
            </div>
          </div>
        </div>

        <div data-ng-repeat="(name, device) in state.wifi.devices"
             class="form-group has-feedback"
             ng-class="formFeedback('ipv4Wifi_' + $index)">
          <label for="ipv4Wifi_{{$index}}" class="col-md-3 control-label"
                 translate translate-values="{name: name}">
            .v4.wifi.label
          </label>
          <div class="col-md-9">
            <input type="text" class="form-control"
                   name="ipv4Wifi_{{$index}}" id="ipv4Wifi_{{$index}}"
                   translate translate-attr-placeholder=".v4.placeholder"
                   translate-values="{index: $index + 1}"
                   data-ng-model="wizard.ip.v4[name]"
                   data-ng-model-options="{ debounce: 500 }"
                   data-ng-required="!state.ip.register"
                   data-ip-address data-ip-version="4"
                   data-ip-prefix-min-length="32">
            <span class="fa form-control-feedback"
                  ng-class="formControlFeedback('ipv4Wifi_' + $index)"></span>
            <div class="help-block">
              <div ng-messages="hasError('ipv4Wifi_' + $index)">
                <div ng-message="required">
                  <span translate>.error.required</span>
                </div>
                <div ng-message="ipAddress">
                  <span translate>.v4.error.ipAddress</span>
                </div>
                <div ng-message="ipPrefixMinLength">
                  <span translate>.v4.error.ipSingle</span>
                </div>
              </div>
              <div translate translate-values="{name: name}">
                .v4.wifi.help
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="ipMeshLan" class="col-md-3 control-label" translate>
        .meshLan.label
      </label>
      <div class="col-md-9">
        <div class="checkbox">
          <label>
            <input type="checkbox"
                   name="ipMeshLan" id="ipMeshLan"
                   data-ng-model="wizard.ip.meshLan">
            <span class="text-muted" translate>.meshLan.help</span>
          </label>
        </div>
      </div>
    </div>

    <div class="row" uib-collapse="state.ip.register || !wizard.ip.meshLan">
      <div class="col-md-offset-3 col-md-9">
        <div class="form-group has-feedback" ng-class="formFeedback('ipv4Lan')">
          <label for="ipv4Lan" class="col-md-3 control-label" translate>
            .v4.lan.label
          </label>
          <div class="col-md-9">
            <input type="text" class="form-control"
                   name="ipv4Lan" id="ipv4Lan"
                   translate translate-attr-placeholder=".v4.placeholder"
                   translate-values="{index: (state.wifi.devices | objectLength) + 1}"
                   data-ng-model="wizard.ip.v4.lan"
                   data-ng-required="wizard.ip.meshLan && !state.ip.register"
                   data-ip-address data-ip-version="4"
                   data-ip-prefix-min-length="32">
            <span class="fa form-control-feedback"
                  ng-class="formControlFeedback('ipv4Lan')"></span>
            <div class="help-block">
              <div ng-messages="hasError('ipv4Lan')">
                <div ng-message="required">
                  <span translate>.error.required</span>
                </div>
                <div ng-message="ipAddress">
                  <span translate>.v4.error.ipAddress</span>
                </div>
                <div ng-message="ipPrefixMinLength">
                  <span translate>.v4.error.ipSingle</span>
                </div>
              </div>
              <div translate>.v4.lan.help</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="ipDistribute" class="col-md-3 control-label" translate>
        .distribute.label
      </label>
      <div class="col-md-9">
        <div class="checkbox">
          <label>
            <input type="checkbox"
                   name="ipDistribute" id="ipDistribute"
                   data-ng-model="wizard.ip.distribute">
            <span class="text-muted" translate>.distribute.help</span>
          </label>
        </div>
      </div>
    </div>

    <div class="row" uib-collapse="!wizard.ip.distribute">
      <div class="col-md-offset-3 col-md-9">

        <div uib-collapse="state.ip.register">
          <div class="form-group has-feedback" data-ng-class="formFeedback('ipv4ClientSubnet')">
            <label for="ipv4ClientSubnet" class="col-md-3 control-label" translate>
              .distribute.subnet.label
            </label>
            <div class="col-md-9">
              <input type="text" class="form-control"
                     name="ipv4ClientSubnet" id="ipv4ClientSubnet"
                     placeholder="{{'ip.distribute.subnet.placeholder' | translate}}"
                     data-ng-model="wizard.ip.v4ClientSubnet"
                     data-ng-required="wizard.ip.distribute && !state.ip.register"
                     data-ip-address data-ip-version="4"
                     data-ip-prefix-max-length="30">
              <span class="fa form-control-feedback"
                    ng-class="formControlFeedback('ipv4ClientSubnet')"></span>
              <div class="help-block">
                <div ng-messages="hasError('ipv4ClientSubnet')">
                  <div ng-message="required">
                    <span translate>.error.required</span>
                  </div>
                  <div ng-message="ipAddress">
                    <span translate>.v4.error.ipSubnet</span>
                  </div>
                  <div ng-message="ipPrefixMaxLength">
                    <span translate>.v4.error.ipSubnetSmall</span>
                  </div>
                </div>
                <div translate>.distribute.subnet.help</div>
              </div>
            </div>
          </div>
        </div>

        <div uib-collapse="!state.ip.register">
          <div class="form-group">
            <label for="ipv4ClientCount" class="col-md-3 control-label" translate>
              .distribute.expectedClients.label
            </label>
            <div class="col-md-9">
              <select
                      name="ipv4ClientCount" id="ipv4ClientCount"
                      data-ng-model="state.ip.v4ClientSubnetSize"
                      data-ng-options="n as ('max. ' + (pow(2, 32 - n) - 3) +' clients (IPv4 /' + n + ' subnet)') for n in [] | range:28:25"
                      data-convert-to-number class="form-control">
              </select>
              <div class="help-block" translate>
                .distribute.expectedClients.help
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
<!-- / ip addresses -->
