<div class="modal-header">
  <h3 class="modal-title" translate>processData.headline</h3>
</div>
<div class="modal-body" translate-namespace="processData">
  <div class="container-fluid">
    <div class="row" data-ng-hide="state.ip.register || (wizard.internet.share && state.internet.vpn03.generate)">
      <div class="col-md-12">
        <i class="fa fa-fw fa-info-circle"></i><span translate>.finished</span>
      </div>
    </div>
    <div class="row" data-ng-show="state.ip.register" translate-namespace="processData.registerIPs">
      <div class="col-md-12">
        <h4 translate>.headline</h4>
        <uib-progressbar max="getObjectKeys(state.registerips.progress).length" value="state.registerips.steps">
          <span style="color:white; white-space:nowrap;">
            {{state.registerips.steps}} / {{getObjectKeys(state.registerips.progress).length}}
          </span>
        </uib-progressbar>
        <div class="form-group">
          <div data-ng-repeat="progress in getObjectKeys(state.registerips.progress)">
            <i class="fa" data-ng-class="{
              'fa-spinner': state.registerips.progress[progress] == 'notStarted',
              'fa-check text-success': state.registerips.progress[progress] == 'success',
              'fa-warning text-warning' : state.registerips.progress[progress] == 'error'
              }"></i> <span>{{ 'processData.registerIPs.'+progress | translate }}</span>
          </div>
        </div>
        <div class="form-group" data-ng-show="state.registerips.progress.reserved == 'success' && state.registerips.progress.keyEntered == 'notStarted'">
          <label for="confirmKey" class="col-md-3 control-label" translate>
            .confirmKey.label
          </label>
          <div class="col-md-7">
            <input type="text" class="form-control" name="confirmKey" id="confirmKey">
          </div>
          <!-- TODO do not allow empty values-->
          <div class="col-md-1">
            <button type="button" class="btn" data-ng-click="confirmIPs()" translate>.confirmKey.submit</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row" data-ng-show="{{wizard.internet.share && state.internet.vpn03.generate}}">
      <div class="col-md-12">
        <h4>Generate VPN Certificate and Key </h4>
        <uib-progressbar max="state.generatevpn.max" value="state.generatevpn.progress">
          <span style="color:white; white-space:nowrap;">
            {{state.generatevpn.progress}} / {{state.generatevpn.max}}
          </span>
        </uib-progressbar>
        <div class="alert"
          data-ng-collapse="!state.generatevpn.message"
          role="alert">
          <span class="fa fa-circle fa-info" aria-hidden="true"></span>
          <span class="sr-only">Message:</span>
          <span translate>{{state.generatevpn.message.value}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer" translate-namespace="processData">
  <button class="btn btn-default" type="button" ng-click="downloadConfig()" translate><i class="fa fa-download"></i>.download</button>
  <button class="btn btn-primary" type="button" ng-click="ok()" translate>.reboot</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()" translate>.cancel</button>
</div>
