<div class="modal-header">
  <h3 class="modal-title">Proessing Data</h3>
</div>
<div class="modal-body">
  <div class="container-fluid">
    <div class="row" data-ng-show="state.ip.register">
      <div class="col-md-12">
        <h4>Register IPs</h4>
        <uib-progressbar max="state.registerips.max" value="state.registerips.progress">
          <span style="color:white; white-space:nowrap;">
            {{state.registerips.progress}} / {{state.registerips.max}}
          </span>
        </uib-progressbar>
        <div class="alert"
          data-ng-collapse="!state.registerips.message">
          <span class="fa fa-circle fa-info" aria-hidden="true"></span>
          <span class="sr-only">Message:</span>
          <span translate>{{state.registerips.message.value}}</span>
        </div>
        <div data-ng-show="state.registerips.reserved">
          <input type="text">
          <button type="button" class="btn" data-ng-click="confirmIPs()">Confirm IPs</button>
        </div>
      </div>
    </div>
    <div class="row" data-ng-show="{{wizard.internet.share && state.internet.vpn03.generate}}">
      <div class="col-md-12">
        <h4>Generate VPN Certificate and Key </h4>
        <uib-progressbar max="state.generatevpn.max" value="state.generatevpn.progress">
          <span style="color:white; white-space:nowrap;">
            {{state.generatevpn.progress}} / {{state.generatevpn.max}}
          </span>
        </uib-progressbar>
        <div class="alert"
          data-ng-collapse="!state.generatevpn.message"
          role="alert">
          <span class="fa fa-circle fa-info" aria-hidden="true"></span>
          <span class="sr-only">Message:</span>
          <span translate>{{state.generatevpn.message.value}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
