<div class="modal-header">
  <button type="button" class="close" ng-click="$ctrl.dismiss()">&times;</button>
  <h4 class="modal-title">Router connection</h4>
</div>
<div class="modal-body">
  <div class="form-group">
    <label for="url">Router URL</label>
    <input type="url" class="form-control" id="url" placeholder="Example: http://192.168.1.1/ubus">
    <span class="help-block">
      URL of the router to connect to. Example: <em>http://192.168.1.1/ubus</em>.
    </span>
  </div>
  <!--div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password">
    <span class="help-block">
      Administrator password (<em>root</em> password).
    </span>
  </div-->
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="$ctrl.dismiss()">Close</button>
  <button type="button" class="btn btn-primary">Connect</button>
</div>
