<div ng-controller="AuthenticationCtrl"><script type="text/ng-template" id="passwordModal.html"><div class="modal-header" translate-namespace="authentication">
            <h3 class="modal-title" id="modal-title" translate>
                .headline
            </h3>
            <span translate>.description</span>
        </div>
        <div class="modal-body" id="modal-body" translate-namespace="authentication">
            <label for="url" translate>.urllabel</label>
            <input type="text"
                   class="form-control"
                   name="url"
                   id="url"
                   ng-model="auth.url">
            <label for="currentPassword" translate>.passwordlabel</label>
            <input type="password"
                   class="form-control"
                   data-ng-model-options="{ debounce: 250 }"
                   name="currentPassword"
                   id="currentPassword"
                   ng-model="auth.currentPassword">
        </div>
        <div class="modal-footer" translate-namespace="authentication">
            <button class="btn" type="button" ng-click="authenticate()" translate>.login</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()" translate>.cancel</button>
        </div></script></div>