<div class="jumbotron wizard-bg-highlight">
  <div class="container">
    <h1>
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-star fa-stack-1x fa-inverse"></i>
    </span>
    {{'heading' | translate }}</h1>
    <p class="intro" translate>description</p>
  </div>
  <div class="container">
    <div>
      <p class="description" translate>freifunk</p>
    </div>
  </div>
</div>

<div ng-if="!$ctrl.online.isOnline" class="container" translate-namespace="offlineWarning">
  <div class="alert alert-danger" role="alert">
    <h2>
      <span class="fa-stack">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-exclamation fa-stack-1x fa-inverse"></i>
      </span>
      <span translate>.headline</span>
    </h2>
    <p>
      <span translate>.help</span>
    </p>
  </div>
</div>

<!-- TODO: cleanup -->
<div class="wizard-category">
  <div class="container text-right">
    <span class="text-danger" translate
        ng-if="wizardForm.$submitted && wizardForm.$invalid">
        configIncorrect
    </span>
    <span class="text-success" translate
          ng-show="state.apply.uploaded && state.apply.success">
      applysuccesful
    </span>
    <span class="text-danger" translate
          ng-show="state.apply.uploaded && ! state.apply.success">
      applyerror
    </span>
    <span class="text-danger" translate
          ng-show="state.apply.error && ! state.apply.success">
      uploaderror
    </span>
    <button type="button" class="btn btn-default" ng-click="downloadConfig()">
      <i class="fa fa-fw fa-download"></i> <span translate>download</span>
    </button>
    <button type="submit" class="btn btn-primary" data-ng-class="{disabled: wizardForm.$invalid}">
      <i class="fa fa-fw fa-check"></i> <span translate>save</span>
    </button>
  </div>
</div>
