<form novalidate name="wizardForm" ng-submit="$ctrl.submit()"
  class="form-horizontal wizard-categories"
>
  <div class="jumbotron wizard-bg-highlight">
    <div class="container">
      <div class="ff-icon-container">
        <div>
          <span class="fa-stack fa-6x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-star fa-stack-1x fa-inverse"></i>
          </span>
        </div>
        <div class="ff-icon-body">
          <h1>{{'heading' | translate }}</h1>
          <p translate>subheading</p>
          <div class="container">
            <div class="col-md-3">
              <span translate>configfilequestion</span>
            </div>
            <div class="col-md-2">
              <load-file-button accept=".json,application/json"
                                on-loaded="$ctrl.load(content)"
              >
                <i class="fa fa-fw fa-upload"></i><span translate>loadconfigfilebutton</span>
              </load-file-button>
            </div>
          </div>
          <div class="container" ng-show="$ctrl.session.authentication">
            <div class="col-md-3">
              <div>
                <span translate>configfromrouterquestion</span>
              </div>
            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-sm btn-default" ng-click="$ctrl.loadConfigFromRouter()">
                <i class="fa fa-fw fa-upload"></i>
                <span translate>loadconfigfromrouterbutton</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div ng-if="!$ctrl.online.isOnline" class="wizard-category">
    <div class="container" translate-namespace="offlineWarning">
      <h2>
        <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-exclamation fa-stack-1x fa-inverse"></i>
        </span>
        <span translate>.headline</span>
      </h2>
      <p>
        <span translate>.help</span>
      </p>
    </div>
  </div>

  <div class="wizard-category">
    <wizard-device
      on-update="$ctrl.device = device"
    ></wizard-device>
  </div>

  <div class="wizard-category">
    <wizard-router
      router="$ctrl.config.router"
      on-router-update="$ctrl.config.router = router"
    ></wizard-router>
  </div>

  <div class="wizard-category">
    <wizard-contact
      contact="$ctrl.config.contact"
      on-contact-update="$ctrl.config.contact = contact"
    ></wizard-contact>
  </div>

  <div class="wizard-category">
    <wizard-location
      name="$ctrl.config.router.name"
      location="$ctrl.config.location"
      on-location-update="$ctrl.config.location = location"
    ></wizard-location>
  </div>

  <div class="wizard-category">
    <wizard-internet
            internet="$ctrl.config.internet"
            on-update="$ctrl.config.internet = internet"
    ></wizard-internet>
  </div>

  <div class="wizard-category">
    <wizard-ip
      wireless-devices="$ctrl.device.wirelessDevices"
      ip="$ctrl.config.ip"
      on-update="$ctrl.config.ip = ip"
    ></wizard-ip>
  </div>

  <div class="wizard-category">
    <wizard-monitoring
      contact="$ctrl.config.monitoring"
      on-update="$ctrl.config.monitoring = monitoring"
    ></wizard-monitoring>
  </div>

  <div class="wizard-category">
    <div class="container text-right">
      <span class="text-danger" translate
          ng-if="wizardForm.$submitted && wizardForm.$invalid">
          configIncorrect
      </span>
      <span class="text-success" translate ng-show="$ctrl.applied">
        applysuccesful
      </span>
      <span class="text-danger" translate ng-show="$ctrl.error">
        applyerror
      </span>
      <button type="button" class="btn btn-default" ng-click="$ctrl.download()">
        <i class="fa fa-fw fa-download"></i> <span translate>download</span>
      </button>

      <button type="submit" class="btn btn-primary"
        ng-disabled="wizardForm.$invalid || !$ctrl.session.connection ||
          !$ctrl.session.authentication || $ctrl.submitting"
      >
        <i class="fa fa-fw" ng-class="{
          'fa-check': !$ctrl.submitting,
          'fa-spin fa-circle-o-notch': $ctrl.submitting,
        }"></i>
        <span translate>save</span>
      </button>
    </div>
  </div>
</form>
