<div class="form-group has-feedback"
     ng-class="formFeedback('{{$ctrl.idPrefix}}.{{$ctrl.details.property}}')">
  <label for="{{$ctrl.idPrefix}}.{{$ctrl.details.property}}" class="col-xs-6 control-label">
    {{'load-file-form.' + $ctrl.details.property + '.label' | translate}}
  </label>
  <div class="col-xs-6">
    <load-file-button
      ng-if="!$ctrl.fileContent"
      id="{{$ctrl.idPrefix}}.{{$ctrl.details.property}}"
      accept="{{$ctrl.details.fileExtensions}}"
      base64="true"
      on-loaded="$ctrl.fileContent = content"
      required="$ctrl.details.required"
    >
      <span>{{'load-file-form.' + $ctrl.details.property + '.select' | translate}}</span>
    </load-file-button>
    <div ng-if="$ctrl.fileContent">
      <i class="fa fa-fw fa-check text-success" aria-hidden="true"></i>
      <button type="button" class="btn btn-sm btn-danger" ng-click="$ctrl.fileContent = undefined" title="Remove file">
        <i class="fa fa-fw fa-trash-o" aria-hidden="true"></i>
      </buton>
    </div>
  </div>
</div>
