<div class="form-group has-feedback"
     ng-class="formFeedback('{{$ctrl.idPrefix}}.{{$ctrl.details.property}}')">
  <label for="{{$ctrl.idPrefix}}.{{$ctrl.details.property}}" class="col-md-5 control-label">
    {{'load-file-form.' + $ctrl.details.property + '.label' | translate}}
  </label>
  <load-file-button
          id="{{$ctrl.idPrefix}}.{{$ctrl.details.property}}"
          accept="{{$ctrl.details.fileExtensions}}"
          base64="true"
          on-loaded="$ctrl.uploadContent(content)"
          required="{{$ctrl.details.required}}">
    <span>{{'wizard-upload-configfile.' + $ctrl.details.property + '.select' | translate}}</span>
  </load-file-button>
  <ng-show data-ng-if="$ctrl.success">
    <span>
      <i class="fa fa-check" aria-hidden="true"></i>
    </span>
  </ng-show>
</div>
