<div class="jumbotron wizard-bg-highlight" translate-namespace="statusOlsr">
  <div class="container">
    <div class="ff-icon-container">
      <div>
        <span class="fa-stack fa-6x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-signal fa-stack-1x fa-inverse"></i>
        </span>
      </div>
      <div class="ff-icon-body">
        <h1 translate>.headline</h1>
        <p translate>.help</p>
        <button class="btn btn-primary" ng-click="$ctrl.refresh()"
          ng-disabled="$ctrl.refreshing"
        >
          <i class="fa fa-fw" ng-class="{
            'fa-refresh': !$ctrl.refreshing,
            'fa-spin fa-circle-o-notch': $ctrl.refreshing,
          }"></i>
          Refresh OLSR data
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container" translate-namespace="statusOlsr">
  <div translate-namespace=".neighbors">
    <h2 translate>.title</h2>
    <p ng-if="$ctrl.neighbors === undefined" translate>.noData</p>
    <p ng-if="$ctrl.neighbors.length === 0" translate>.noNeighbors</p>
    <table class="table table-striped table-hover" ng-if="$ctrl.neighbors.length > 0">
      <thead translate-namespace=".columns">
        <th translate>.ipAddress</th>
        <th translate>.multiPointRelay</th>
        <th translate>.multiPointRelaySelector</th>
        <th translate>.symmetric</th>
        <th translate>.twoHopNeighborCount</th>
        <th translate>.willingness</th>
      </thead>
      <tbody>
        <tr ng-repeat="neighbor in $ctrl.neighbors" class="wizard-neighbor">
          <td><a href="http://{{neighbor.ipAddress}}/">{{neighbor.ipAddress}}</a></td>
          <td>{{neighbor.multiPointRelay}}</td>
          <td>{{neighbor.multiPointRelaySelector}}</td>
          <td>{{neighbor.symmetric}}</td>
          <td>{{neighbor.twoHopNeighborCount}}</td>
          <td>{{neighbor.willingness}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
