<!doctype html>

<html data-ng-app="WizardApp">
  <head>
    <title>Freifunk Berlin · Router configuration wizard</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- vendor assets -->
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/leaflet/leaflet.css" />

    <script src="vendor/angular/angular.min.js"></script>
    <script src="vendor/angular/angular-animate.min.js"></script>
    <script src="vendor/angular/angular-messages.min.js"></script>
    <script src="vendor/angular/angular-sanitize.min.js"></script>
    <script src="vendor/angular/angular-translate.min.js"></script>
    <script src="vendor/angular/angular-translate-loader-static-files.min.js"></script>

    <script src="vendor/angular/ui-bootstrap-tpls.min.js"></script>
    <script src="vendor/leaflet/leaflet.js"></script>
    <script src="vendor/angular/angular-leaflet-directive.min.js"></script>

    <script src="vendor/angular/ng-file-upload.min.js"></script>

    <!-- wizard assets -->
    <link rel="stylesheet" href="index.css">
    <script src="index.js"></script>
  </head>
  <body data-ng-controller="WizardCtrl">

    <!-- content -->
    <div class="wizard-bg-highlight">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="navbar-form navbar-right">
              <a href ng-click="showLoadConfigModal()" translate>loadconfiglink</a>
              <select class="form-control form-inline" data-ng-model="selectedLanguage">
                <option value="en">English</option>
                <option value="de">Deutsch</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="jumbotron wizard-bg-highlight">
      <div class="container">
        <h1>
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-star fa-stack-1x fa-inverse"></i>
        </span>
        {{'heading' | translate }}</h1>
        <p class="intro" translate>description</p>
      </div>
      <div class="container">
        <div>
          <p class="description" translate>freifunk</p>
        </div>
      </div>
    </div>

    <form novalidate name="wizardForm" ng-submit="submit()"
        class="form-horizontal wizard-categories">
      <ng-include src="'shared/loadConfig/loadConfig.html'"></ng-include>
      <ng-include src="'shared/passwordModal/passwordModal.html'"></ng-include>
      <div ng-if="!isOnline()" class="wizard-category">
        <ng-include src="'shared/offlineWarning/offlineWarning.html'"></ng-include>
      </div>
      <div class="wizard-category">
        <ng-include src="'shared/basicRouterSetup/basicRouterSetup.html'"></ng-include>
      </div>
      <div class="wizard-category">
        <ng-include src="'shared/contactDetails/contactDetails.html'"></ng-include>
      </div>
      <div class="wizard-category">
        <ng-include src="'shared/routerLocation/routerLocation.html'"></ng-include>
      </div>
      <div class="wizard-category">
        <ng-include src="'shared/internetSharing/internetSharing.html'"></ng-include>
      </div>
      <div class="wizard-category">
        <ng-include src="'shared/ipAddresses/ipAddresses.html'"></ng-include>
      </div>
      <div class="wizard-category">
        <ng-include src="'shared/monitoring/monitoring.html'"></ng-include>
      </div>
      <div class="wizard-category">
        <ng-include src="'shared/advancedWifi/advancedWifi.html'"></ng-include>
      </div>

      <!-- submission -->
      <div class="wizard-category">
        <div class="container text-right">
          <span class="text-danger" translate
              ng-if="wizardForm.$submitted && wizardForm.$invalid">
              configIncorrect
          </span>
          <span class="text-success" translate
                ng-show="state.apply.uploaded && state.apply.success">
            applysuccesful
          </span>
          <span class="text-danger" translate
                ng-show="state.apply.uploaded && ! state.apply.success">
            applyerror
          </span>
          <span class="text-danger" translate
                ng-show="state.apply.error && ! state.apply.success">
            uploaderror
          </span>
          <button type="button" class="btn btn-default" ng-click="downloadConfig()">
            <i class="fa fa-download"></i> <span translate>download</span>
          </button>
          <button type="submit" class="btn btn-primary" data-ng-class="{disabled: wizardForm.$invalid}">
            <i class="fa fa-check"></i> <span translate>save</span>
          </button>
        </div>
      </div>
    </form>
  </body>
</html>
