  <div class="container" translate-namespace="routerLocation">
    <h2>
            <span class="fa-stack">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
            </span>
      <span translate>.headline</span>
    </h2>
    <p>
      <span translate>.help</span>
    </p>
    <div class="row">

      <!-- map -->
      <div ng-if="isOnline()">
        <div class="col-md-5">
          <leaflet style="height: 300px;" markers="state.map.markers" center="state.map.center"></leaflet>
        </div>
      </div>
      <div ng-if="!isOnline()">
        <div class="col-md-5">
          <div class="wizard-offline">
            <img src="assets/img/OSM_offlinemap.png">
            <strong>
                    <span translate>
                      .offlineMsg
                    </span>
            </strong>
          </div>
        </div>
      </div>
      <!-- / map -->

      <!-- address -->
      <div class="col-md-offset-1 col-md-5">

        <div class="row">
          <div class="col-md-offset-6 col-md-6">
            <p>
              <button type="button" class="btn btn-primary" data-ng-click="getLocation()" data-ng-disabled="state.map.searchingGeolocation">
                <i class="fa fa-fw fa-dot-circle-o"></i>
                <span translate>.getLocation</span>
              </button>
            </p>
          </div>
        </div>

        <div class="form-group"
             translate-namespace=".geolocation">
          <label for="routerGeolocation" class="col-md-6 control-label" translate>
            .label
          </label>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6">
                <input type="number" class="form-control"
                       translate translate-attr-placeholder=".latitude"
                       data-ng-model="wizard.location.lat">
              </div>
              <div class="col-md-6">
                <input type="number" class="form-control"
                       translate translate-attr-placeholder=".longitude"
                       data-ng-model="wizard.location.lng">
              </div>
            </div>
          </div>
        </div>

        <div class="form-group" translate-namespace=".street">
          <label for="street" class="col-md-6 control-label" translate>
            .label
          </label>
          <div class="col-md-6">
            <input type="text" class="form-control"
                   name="street" id="street"
                   translate translate-attr-placeholder=".placeholder"
                   data-ng-model="wizard.location.street">
          </div>
        </div>

        <div class="form-group" translate-namespace=".postalCode">
          <label for="postalCode" class="col-md-6 control-label" translate>
            .label
          </label>
          <div class="col-md-6">
            <input type="text" class="form-control"
                   name="postalCode" id="postalCode"
                   translate translate-attr-placeholder=".placeholder"
                   data-ng-model="wizard.location.postalCode">
          </div>
        </div>

        <div class="form-group" translate-namespace=".city">
          <label for="city" class="col-md-6 control-label" translate>
            .label
          </label>
          <div class="col-md-6">
            <input type="text" class="form-control"
                   name="city" id="city"
                   translate translate-attr-placeholder=".placeholder"
                   data-ng-model="wizard.location.city">
          </div>
        </div>
      </div>
      <!-- / address -->
    </div>
  </div>

